* {
				margin: 0px;
				padding: 0px;
			}
			
			body {
				background: url("../assets/img/login/324234.jpg");
			}
			
			a:hover {
				text-decoration: none;
			}
			
			i {
				font-style: normal;
			}
			
			.container {
				width: 100%;
				height: 100%;
				font-family: "微软雅黑";
			}
			
			.page-header {
				text-align: center;
				color: snow;
			}
			
			.main {
				width: 30%;
				margin: 4% auto 0 auto;
				padding: 10px;
				background-color: white;
				border-radius: 5px;
				opacity: 0.9;
			}
			
			.main-login {
				padding: 10px auto;
			}
			
			.form-control {
				width: 95%;
			}
			
			.forget-password {
				float: left;
			}
			
			.register {
				float: right;
			}
			
			.other-login {
				float: left;
			}
			
			.other-detail {
				margin-bottom: 20px;
			}
			
			label {
				float: left;
			}